ECPS206_HW5/hw5_Yihan_Xu
[{"id":"67074ba.9be7bb4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f43528db.ec1568","type":"firebase config","z":"","firebaseurl":"good-59c30","loginType":"none"},{"id":"71a47e94.7370f","type":"firebase modify","z":"67074ba.9be7bb4","name":"","firebaseconfig":"f43528db.ec1568","childpath":"master_esp","method":"push","value":"msg.payload","priority":"msg.priority","x":400.5,"y":62,"wires":[["565e441f.8ddf1c"]]},{"id":"565e441f.8ddf1c","type":"debug","z":"67074ba.9be7bb4","name":"pi received","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":801.5,"y":62,"wires":[]},{"id":"8765d39b.69e34","type":"udp in","z":"67074ba.9be7bb4","name":"Pi Received","iface":"","port":"2920","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":103.5,"y":298,"wires":[["6963799.a43e788","20e4fb81.f06de4"]]},{"id":"fefad4d5.c3a688","type":"inject","z":"67074ba.9be7bb4","name":"sendPiAddress","topic":"","payload":"[240,4,255,23,172,20,10,11,2,0,0,0,0,0,15]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":109.5,"y":367,"wires":[["75a2fc29.e3c434","e1701d53.cd219"]]},{"id":"75a2fc29.e3c434","type":"udp out","z":"67074ba.9be7bb4","name":"broadcast Pi address","addr":"172.20.10.15","iface":"","port":"2910","ipv":"udp4","outport":"","base64":false,"multicast":"broad","x":348.5,"y":489,"wires":[]},{"id":"e1701d53.cd219","type":"debug","z":"67074ba.9be7bb4","name":"pi sent","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":736.5,"y":369,"wires":[]},{"id":"6963799.a43e788","type":"debug","z":"67074ba.9be7bb4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":471.5,"y":231,"wires":[]},{"id":"cbe72e5d.7ca5a","type":"inject","z":"67074ba.9be7bb4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":96.5,"y":572,"wires":[["f2108ff0.a7fa2"]]},{"id":"f2108ff0.a7fa2","type":"firebase.once","z":"67074ba.9be7bb4","name":"","firebaseconfig":"f43528db.ec1568","childpath":"master_esp","repeatifnull":false,"eventType":"value","queries":[],"x":465.5,"y":568,"wires":[["779c43ea.3997bc"]]},{"id":"779c43ea.3997bc","type":"e-mail","z":"67074ba.9be7bb4","server":"smtp.gmail.com","port":"465","secure":true,"name":"yihanx2@uci.edu","dname":"","x":455.5,"y":706,"wires":[]},{"id":"20e4fb81.f06de4","type":"function","z":"67074ba.9be7bb4","name":"convert raw data","func":"var mybuildstring = \"\";\nfor(var i = 5; i < msg.payload.length - 1; i++){\n    mybuildstring += String.fromCharCode(msg.payload[i]);\n    }\nvar stringArray = mybuildstring.split('|');\nvar masterInfo = stringArray[0].split(',');\nvar versionVal = masterInfo[2];\nvar clearVal = parseInt(masterInfo[3]);\nvar addrVal = masterInfo[5];\nmsg.payload = mybuildstring;\nreturn msg;","outputs":1,"noerr":0,"x":197.5,"y":161,"wires":[["71a47e94.7370f"]]}]